<section class="about-us" id="about-us">
  <div class="container-au">
    <div class="content">
      <h2 class="h2">About Us</h2>
      <p class="text-1">
        Welcome to our premium watch collection, where luxury and style meet
        functionality and precision. Our selection of timepieces embodies the
        very best in Swiss craftsmanship and engineering, ensuring that you'll
        always have a reliable and stylish accessory on your wrist.
      </p>
      <p class="text-2">
        At our premium watch collection, we believe that a watch is more than
        just a timekeeping device – it's a statement piece that reflects your
        personality and style. So why settle for anything less than the best?
      </p>
      <a href="#catalog" class="view-catalog">View catalog</a>
    </div>
    <div class="image-container">
      <picture
        ><source
          srcset="
            ./img/section-about-us/desk.jpg  1x,
            ./img/section-about-us/desk2.jpg 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./img/section-about-us/tablet.jpg  1x,
            ./img/section-about-us/tablet2.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/section-about-us/mobile.jpg  1x,
            ./img/section-about-us/mobile2.jpg 2x
          "
        />
        <img
          src="./img/section-about-us/desk.jpg"
          alt="watches"
          width="530"
          height="532"
          class="responsive-image"
        />
      </picture>
    </div>
  </div>
</section>
