<section class="section-catalog" id="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture>
          <source
            srcset="
              ./img/section-catalog/garmin_fenix_solar.png 1x,
              ./img/section-catalog/garmin_fenix_solar2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/section-catalog/garmin_fenix_solar_tab.png 1x,
              ./img/section-catalog/garmin_fenix_solar_tab2x.png 2x
            "
            media="min-width: 768px"
          />
          <source
            srcset="
              ./img/section-catalog/garmin_fenix_solar_mob.png 1x,
              ./img/section-catalog/garmin_fenix_solar_mob2x.png 2x
            "
            media="max-width: 767px"
          />
          <img
            class="catalog-photo"
            src="./img/section-catalog/garmin_fenix_solar.png"
            alt="Garmin Fenix 7X Pro Sapphire Solar"
            width="304px"
            height="312px"
          />
        </picture>
        <h3 class="catalog-item-title">Garmin Fenix 7X Pro Sapphire Solar</h3>
        <p class="catalog-item-text">€500</p>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="
              ./img/section-catalog/garmin_marq_athlete.png 1x,
              ./img/section-catalog/garmin_marq_athlete2x.png 2x
            "
            media="min-width: 1280px"
          />
          <source
            srcset="
              ./img/section-catalog/garmin_marq_athlete_tab.png 1x
              ./img/section-catalog/garmin_marq_athlete_tab2x.png 2x
            "
            media="min-width: 768px"
          />
          <source
            srcset="
              ./img/section-catalog/garmin_marq_athlete_mob.png 1x,
              ./img/section-catalog/garmin_marq_athlete_mob2x.png 2x
            "
            media="max-width: 767px"
          />
          <img
            class="catalog-photo"
            src="./img/section-catalog/garmin_marq_athlete.png"
            alt="Garmin Marq Athlete "
            width="304px"
            height="312px"
          />
        </picture>

        <h3 class="catalog-item-title">Garmin Marq Athlete</h3>
        <p class="catalog-item-text">€450</p>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="
              ./img/section-catalog/garmin_descent.png 1x,
              ./img/section-catalog/garmin_descent2x.png 2x
            "
            media="min-width: 1280px"
          />
          <source
            srcset="
              ./img/section-catalog/garmin_descent_tab.png 1x,
              ./img/section-catalog/garmin_descent_tab2x.png 2x
            "
            media="min-width: 768px"
          />
          <source
            srcset="
              ./img/section-catalog/garmin_descent_mob.png 1x,
              ./img/section-catalog/garmin_descent_mob2x.png 2x
            "
            media="max-width: 767px"
          />
          <img
            class="catalog-photo"
            src="./img/section-catalog/garmin_descent.png"
            alt="Garmin Descent MK1 "
            width="304px"
            height="312px"
          />
        </picture>

        <h3 class="catalog-item-title">Garmin Descent MK1</h3>
        <p class="catalog-item-text">€680</p>
      </li>

      <li class="catalog-item">
        <picture>
          <source 
          srcset="
          ./img/section-catalog/garmin_delta_px.png 1x,
          ./img/section-catalog/garmin_delta_px2x.png 2x
        "
            media="min-width: 1280px"
          />
          <source
            srcset="
              ./img/section-catalog/garmin_delta_px_tab.png 1x,
              ./img/section-catalog/garmin_delta_px_tab2x.png 2x
            "
            media="min-width: 768px"
          />
          <source
            srcset="
              ./img/section-catalog/garmin_delta_px_mob.png 1x,
              ./img/section-catalog/garmin_delta_px_mob2x.png 2x
            "
            media="max-width: 767px"
          />
          <img
            class="catalog-photo"
            src="./img/section-catalog/garmin_delta_px.png"
            alt="Garmin D2 Delta PX"
            width="304px"
            height="312px"
          />
        </picture>

        <h3 class="catalog-item-title">Garmin D2 Delta PX</h3>
        <p class="catalog-item-text">€380</p>
      </li>
      <li class="catalog-item mob">
        <picture>
          <source
            srcset="
              ./img/section-catalog/garmin_fenix_pro.png 1x,
              ./img/section-catalog/garmin_fenix_pro2x.png 2x
            "
            media="min-width: 1280px"
          />
          <source
            srcset="
              ./img/section-catalog/garmin_fenix_pro_tab.png 1x,
              ./img/section-catalog/garmin_fenix_pro_tab2x.png 2x
            "
            media="min-width: 768px"
          />
          <source
            srcset="
              ./img/section-catalog/garmin_fenix_pro_mob.png 1x,
              ./img/section-catalog/garmin_fenix_pro_mob2x.png 2x
            "
            media="max-width: 767px"
          />
          <img
            class="catalog-photo"
            src="./img/section-catalog/garmin_fenix_pro.png"
            alt="Garmin Fenix 6 Pro Solar"
            width="304px"
            height="312px"
          />
        </picture>

        <h3 class="catalog-item-title">Garmin Fenix 6 Pro Solar</h3>
        <p class="catalog-item-text">€400</p>
      </li>
      <li class="catalog-item mob">
        <picture>
          <source
            srcset="
              ./img/section-catalog/tube_watch.png 1x,
              ./img/section-catalog/tube_watch2x.png 2x
            "
            media="min-width: 1280px"
          />
          <source
            srcset="
              ./img/section-catalog/tube_watch_tab.png 1x,
              ./img/section-catalog/tube_watch_tab2x.png 2x
            "
            media="min-width: 768px"
          />
          <source
            srcset="
              ./img/section-catalog/tube_watch_tab.png 1x,
              ./img/section-catalog/tube_watch_tab2x.png 2x
            "
            media="max-width: 767px"
          />
          <img
            class="catalog-photo"
            src="./img/section-catalog/tube_watch.png"
            alt="Tube Watch S42 Date Steel With Black Case"
            width="304px"
            height="312px"
          />
        </picture>

        <h3 class="catalog-item-title">
          Tube Watch S42 Date Steel With Black Case
        </h3>
        <p class="catalog-item-text">€395</p>
      </li>
    </ul>
    <button class="catalog-btn" type="button">Show more</button>
  </div>
</section>
