<section class="section-catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture>
          <source
            srcset="
              ../img/section-catalog/garmin_fenix.jpg,
              ../img/section-catalog/garmin_fenix2x.jpg
            "
            media="min-width: 1280px"
          />
          <source
            srcset="
              ../img/section-catalog/garmin_fenix_tab.jpg,
              ../img/section-catalog/garmin_fenix_tab2x.jpg
            "
            media="min-width: 768px"
          />
          <source
            srcset="
              ../img/section-catalog/garmin_fenix_mob.jpg,
              ../img/section-catalog/garmin_fenix_mob2x.jpg
            "
            media="max-width: 767px"
          />
          <img
            class="catalog-photo"
            src="../img/section-catalog/garmin_fenix.jpg"
            alt="Garmin Fenix 7X Pro Sapphire Solar"
            width="304px"
            height="312px"
          />
        </picture>
        <h3 class="catalog-item-title">Garmin Fenix 7X Pro Sapphire Solar</h3>
        <p class="catalog-item-text">€500</p>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="
              ../img/section-catalog/garmin_marq.jpg,
              ../img/section-catalog/garmin_marq2x.jpg
            "
            media="min-width: 1280px"
          />
          <source
            srcset="
              ../img/section-catalog/garmin_marq_tab.jpg,
              ../img/section-catalog/garmin_marq_tab2x.jpg
            "
            media="min-width: 768px"
          />
          <source
            srcset="
              ../img/section-catalog/garmin_marq_mob.jpg,
              ../img/section-catalog/garmin_marq_mob2x.jpg
            "
            media="max-width: 767px"
          />
          <img
            class="catalog-photo"
            src="../img/section-catalog/garmin_marq.jpg"
            alt="Garmin Marq Athlete "
            width="304px"
            height="312px"
          />
        </picture>

        <h3 class="catalog-item-title">Garmin Marq Athlete</h3>
        <p class="catalog-item-text">€450</p>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="
              ../img/section-catalog/garmin_descent.jpg,
              ../img/section-catalog/garmin_descent2x.jpg
            "
            media="min-width: 1280px"
          />
          <source
            srcset="
              ../img/section-catalog/garmin_descent_tab.jpg,
              ../img/section-catalog/garmin_descent_tab2x.jpg
            "
            media="min-width: 768px"
          />
          <source
            srcset="
              ../img/section-catalog/garmin_descent_mob.jpg,
              ../img/section-catalog/garmin_descent_mob2x.jpg
            "
            media="max-width: 767px"
          />
          <img
            class="catalog-photo"
            src="../img/section-catalog/garmin_descent.jpg"
            alt="Garmin Descent MK1 "
            width="304px"
            height="312px"
          />
        </picture>

        <h3 class="catalog-item-title">Garmin Descent MK1</h3>
        <p class="catalog-item-text">€680</p>
      </li>
      <button class="catalog-btn" type="button">Show more</button>
      <li class="catalog-item">
        <picture>
          <source
            srcset="
              ../img/section-catalog/garmin_d2.jpg,
              ../img/section-catalog/garmin_d22x.jpg
            "
            media="min-width: 1280px"
          />
          <source
            srcset="
              ../img/section-catalog/garmin_d2_tab.jpg,
              ../img/section-catalog/garmin_d2_tab2x.jpg
            "
            media="min-width: 768px"
          />
          <source
            srcset="
              ../img/section-catalog/garmin_d2_mob.jpg,
              ../img/section-catalog/garmin_d2_mob2x.jpg
            "
            media="max-width: 767px"
          />
          <img
            class="catalog-photo"
            src="../img/section-catalog/garmin_d2.jpg"
            alt="Garmin D2 Delta PX"
            width="304px"
            height="312px"
          />
        </picture>

        <h3 class="catalog-item-title">Garmin D2 Delta PX</h3>
        <p class="catalog-item-text">€380</p>
      </li>
      <li class="catalog-item mob">
        <picture>
          <source
            srcset="
              ../img/section-catalog/garmin_Fenix6.jpg,
              ../img/section-catalog/garmin_Fenix62x.jpg
            "
            media="min-width: 1280px"
          />
          <source
            srcset="
              ../img/section-catalog/garmin_Fenix6_tab.jpg,
              ../img/section-catalog/garmin_Fenix6_tab2x.jpg
            "
            media="min-width: 768px"
          />
          <source
            srcset="
              ../img/section-catalog/garmin_Fenix6_mob.jpg,
              ../img/section-catalog/garmin_Fenix6_mob2x.jpg
            "
            media="max-width: 767px"
          />
          <img
            class="catalog-photo"
            src="../img/section-catalog/garmin_Fenix6.jpg"
            alt="Garmin Fenix 6 Pro Solar"
            width="304px"
            height="312px"
          />
        </picture>

        <h3 class="catalog-item-title">Garmin Fenix 6 Pro Solar</h3>
        <p class="catalog-item-text">€400</p>
      </li>
      <li class="catalog-item mob">
        <picture>
          <source
            srcset="
              ../img/section-catalog/tube_watch.jpg,
              ../img/section-catalog/tube_watch2x.jpg
            "
            media="min-width: 1280px"
          />
          <source
            srcset="
              ../img/section-catalog/tube_watch_tab.jpg,
              ../img/section-catalog/tube_watch_tab2x.jpg
            "
            media="min-width: 768px"
          />
          <source
            srcset="
              ../img/section-catalog/tube_watch_mob.jpg,
              ../img/section-catalog/tube_watch_mob2x.jpg
            "
            media="max-width: 767px"
          />
          <img
            class="catalog-photo"
            src="../img/section-catalog/tube_watch.jpg"
            alt="Tube Watch S42 Date Steel With Black Case"
            width="304px"
            height="312px"
          />
        </picture>

        <h3 class="catalog-item-title">
          Tube Watch S42 Date Steel With Black Case
        </h3>
        <p class="catalog-item-text">€395</p>
      </li>
    </ul>
  </div>
</section>
