<header class="header" id="header"></header>
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="../index.html">watchcharm</a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#catalog">Catalog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sale">Sale</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact-us">Contact Us</a>
        </li>
      </ul>
      <div class="container-benefits">
        <a class="icons-benefits" href="https://www.facebook.com/goITclub/" target="_blank">
          <svg class="benefits-item-icon" width="36" height="36">
            <use href="./img/section-header/sprite.svg#icon-fac"></use>
          </svg>
        </a>
        <a class="icons-benefits" href="https://www.instagram.com/goitclub/" target="_blank">
          <svg class="benefits-item-icon" width="36" height="36">
            <use href="./img/section-header/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
        <a class="icons-benefits" href="https://www.youtube.com/c/GoIT" target="_blank">
          <svg class="benefits-item-icon" width="36" height="36">
            <use href="./img/section-header/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </div>
    </nav>
    <button type="button" class="menu-open">
        <svg class="menu-open-svg" width="40" height="40">
          <use href="../img/section-header/sprite.svg#icon-menu"></use>
        </svg>
    </button>
  </div>
  </div>
  <div class="menu-modal is-open">
    <div>
      <button class="menu-close">
        <svg width="40" height="40">
          <use href="./img/section-header/sprite.svg#icon-x"></use>
        </svg>
      </button>
      <nav class="mob-nav-menu">
            <ul class="mob-nav-list">
              <li><a class="menu-nav-link" href="../index.html">Home</a></li>
              <li><a class="menu-nav-link" href="#about-us">About Us</a></li>
              <li><a class="menu-nav-link" href="#catalog">Catalog</a></li>
              <li><a class="menu-nav-link" href="#sale">Sale</a></li>
              <li><a class="menu-nav-link" href="#reviews">Reviews</a></li>
              <li><a class="menu-nav-link" href="#contact-us">Contact Us</a></li>
            </ul>
          </nav>
    </div>
    <div class="menu-container-benefits">
      <a class="menu-icons" href="https://www.facebook.com/goITclub/" target="_blank">
        <svg class="menu-benefits-item-icon" width="20" height="20">
          <use href="./img/section-header/sprite.svg#icon-fac"></use>
        </svg>
      </a>
      <a class="menu-icons" href="https://www.instagram.com/goitclub/" target="_blank">
        <svg class="menu-benefits-item-icon" width="20" height="20">
          <use href="./img/section-header/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
      <a class="menu-icons" href="https://www.youtube.com/c/GoIT" target="_blank">
        <svg class="menu-benefits-item-icon" width="20" height="20">
          <use href="./img/section-header/sprite.svg#icon-youtube"></use>
        </svg>
      </a>
    </div>
  </div>
</header>