<section class="reviews-section" id="reviews">
	<div class="container">
		<h2 class="reviews-title">Reviews</h2>
		<div class="reviews-container-flex">

			<div class="reviews-container">
				<img class="bio-photo"
					srcset="../img/section-reviews/johnwax.jpg 1x, ../img/section-reviews/johnwax-2x.jpg 2x"
					src="../img/section-reviews/johnwax.jpg" width="57" height="56" alt="john wax">
				<h4 class="bio-name">John Wax</h4>
				<p class="bio-text">
					Buying a watch from was the best choice for me. The design is perfectly combined with high
					quality
					materials.
					The strap
					fits nicely on the hand, and the mechanism works flawlessly.
				</p>
			</div>
			<div class="reviews-container container-two">
				<img class="bio-photo"
					srcset="../img/section-reviews/viktoriaromashenko.jpg 1x, ../img/section-reviews/viktoriaromashenko-2x.jpg 2x"
					src="../img/section-reviews/viktoriaromashenko.jpg" width="57" height="56" alt="victoria romashenko">
				<h4 class="bio-name">Victoria Romashenko</h4>
				<p class="bio-text">
					Can't take my eyes off my watch from. Every time I put it on, it is admired by those around me. The
					build quality and
					attention to detail make it a real gem among my accessories.
				</p>
			</div>
			<div class="reviews-container container-three">
				<img class="bio-photo"
					srcset="../img/section-reviews/anastasiatrachuk.jpg 1x, ../img/section-reviews/anastasiatrachuk-2x.jpg 2x"
					src="../img/section-reviews/anastasiatrachuk.jpg" width="57" height="56" alt="anastasia trachuk">
				<h4 class="bio-name">Anastasia Trachuk</h4>
				<p class="bio-text">
					My watch from is a real masterpiece. Every detail impresses with the high quality of execution.
					Special features like
					[specify features] make it an indispensable companion in my daily life.
				</p>
			</div>
		</div>

	</div>

</section>