<section class="sale-section" id="sale">
        <div class="sale-conteiner">
            <h2 class="sale-title">Sale</h2>
            <div class="sale-div">
                <ul class="sale-list">
                    <li class="sale-list-item">
                        <picture>
                            <source srcset="./img/section-sale/one-d.png 1x, ./img/section-sale/one-d-2.png 2x"
                                media="(min-width: 1158px)"/>
                            <source srcset="./img/section-sale/one-p.png 1x, ./img/section-sale/one-p.png 2x"
                                media="(min-width: 768px)"/>
                            <source srcset="./img/section-sale/one-f.png 1x, ./img/section-sale/one-f.png 2x"
                                media="(max-width: 767px)"/>
                            
                        </picture>
                        <img class="sale-img" src="./img/section-sale/one-d.png" width="52" height="54"
                                alt="image of the product"/>
                    </li>
                    <li class="sale-list-item">
                        <picture>
                            <source srcset="./img/section-sale/two-d.png 1x, ./img/section-sale/two-d-2.png 2x"
                                media="(min-width: 1158px)"/>
                            <source srcset="./img/section-sale/two-p.png 1x, ./img/section-sale/two-p.png 2x"
                                media="(min-width: 768px)"/>
                            <source srcset="./img/section-sale/two-f.png 1x, ./img/section-sale/two-f.png 2x"
                                media="(max-width: 767px)"/>
                            
                        </picture>
                        <img class="sale-img" src="./img/section-sale/two-d.png" width="52" height="54"
                                alt="image of the product"/>
                    </li>
                    <li class="sale-list-item">
                        <picture>
                            <source srcset="./img/section-sale/tree-d.png 1x, ./img/section-sale/tree-d-2.png 2x"
                                media="(min-width: 1158px)"/>
                            <source srcset="./img/section-sale/tree-p.png 1x, ./img/section-sale/tree-p.png 2x"
                                media="(min-width: 768px)"/>
                            <source srcset="./img/section-sale/tree-f.png 1x, ./img/section-sale/tree-f.png 2x"
                                media="(max-width: 767px)"/>
                           
                        </picture>
                         <img class="sale-img" src="./img/section-sale/tree-d.png" width="52" height="54"
                                alt="image of the product"/>
                    </li>
                    <li class="sale-list-item">
                        <picture>
                            <source srcset="./img/section-sale/four-d.png 1x, ./img/section-sale/four-d-2.png 2x"
                                media="(min-width: 1158px)"/>
                            <source srcset="./img/section-sale/four-p.png 1x, ./img/section-sale/four-p.png 2x"
                                media="(min-width: 768px)"/>
                            <source srcset="./img/section-sale/four-f.png 1x, ./img/section-sale/four-f.png 2x"
                                media="(max-width: 767px)"/>
                          
                        </picture> 
                         <img class="sale-img" src="./img/section-sale/four-d.png" width="52" height="54"
                                alt="image of the product"/>
                    </li>
                    <li class="sale-list-item">
                        <picture>
                            <source srcset="./img/section-sale/five-d.png 1x, ./img/section-sale/five-d-2.png 2x"
                                media="(min-width: 1158px)"/>
                            <source srcset="./img/section-sale/five-p.png 1x, ./img/section-sale/five-p.png 2x"
                                media="(min-width: 768px)"/>
                            <source srcset="./img/section-sale/five-f.png 1x, ./img/section-sale/five-f.png 2x"
                                media="(max-width: 768px)"/>
                        </picture>
                        
                        <img class="sale-img" src="./img/section-sale/five-d.png" width="235" height="285"
                                alt="image of the product" />
                    </li>
                </ul>
                <div class="sale-info">
                    <div class="sale-info-head">
                        <h3 class="sale-info-title">
                            MARQ® Commander (Gen 2) - Carbon Edition
                        </h3>
                        <p class="sale-info-head-text">
                            Product tag: 706587
                        </p>
                    </div>
                    <div class="prise-div">
                        <p class="prise">€1500</p>
                        <p class="folse-prise">€3000</p>
                    </div>
                    <div class="sale-info-text-div">
                        <p class="sale-info-text">
                            The Garmin MARQ Commander Gen 2 Carbon Edition is a
                            modern smartwatch for adventurers that takes materials
                            and features to the next level. The body of the watch is
                            made of very durable Fused Carbon Fiber material and
                            has a precise AMOLED touch screen. The sensitive touch
                            screen is complemented by buttons that can be used in
                            any conditions.
                        </p>
                    </div>
                    <div class="sale-info-block">
                        <p class="sale-info-block-p">Fused carbon fiber </p>
                        <p class="sale-info-block-p">Grade-5 Titanuim</p>
                        <p class="sale-info-block-p">Athlete</p>
                        <p class="sale-info-block-p">Golfer</p>
                        <p class="sale-info-block-p">Commander</p>
                        <p class="sale-info-block-p">Adventurer</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
