Основні стилі .about-us {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.about-us h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-us p {
  margin: 10px 0;
}

.view-catalog {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3350e9;
  border-radius: 16px;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #fbfbfb;
  font-family: 'Gilroy', sans-serif;
  width: 160px;
  height: 48px;
  padding: 15px 38px;
}

.view-catalog:hover {
  background-color: #0056b3;
}

.image-container {
  display: flex;
  justify-content: center;
}

.responsive-image {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

/* Адаптивність для мобільних та планшетів */
@media (min-width: 375px) {
  .about-us {
    padding: 20px;
    height: 912px;
  }
}

@media (min-width: 768px) {
  .about-us {
    flex-direction: column;
    gap: 30px;
  }
}

/* Стилі для десктопу */
@media (min-width: 1280px) {
  .about-us {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .content {
    flex: 1;
    padding: 0px 20px;
    width: 335px;
    height: 446px;
  }

  .image-container {
    flex: 1;
    justify-content: flex-end;
    border-radius: 30px;
    width: 335px;
    height: 446px;

    background: rgba(12, 12, 12, 0.2), url('path_to_image');
  }

  /* Оптимізація для Retina-екранів */
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .responsive-image {
      content: url('watch@2x.jpg');
    }
  }
}
.about-us .text-1 {
  margin-bottom: 20px;
}
.about-us .text-2 {
  margin-bottom: 20px;
}
.about-us .h2 {
  margin-top: 40px;
  margin-bottom: 28px;
}
