p,
a {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    padding-right: 0px;
    margin-right: 0px;
    max-width: 100%;
}

/* adaprivniy container */

.container-ca {
    max-width: 335px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.contact-watch{
    padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
    .container-ca {
        max-width: 704px;
    }
}

@media screen and (min-width: 1280px) {
    .container-ca {
        max-width: 1150px;
    }
}

.us-contact {
    text-align: left;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.tex-contact {
    margin-bottom: 28px;
    max-width: 279px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}

.text-form-label-input {
    border-radius: 30px;
    /* padding: 48px 28px; */
    background-color: #f3f3f3;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 335px;
}

/* .contact-form {
    width: 335px;
    height: 1044px;
    width: 100%;
} */

.label-input-list {
    margin-bottom: 18px;
}

/* .input-list {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 12px 226px 12px 14px;
    max-width: 279px;
    width: 100%;
    height: 42px;
    outline: none;
} */

.input-list-email-tel {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 12px 136px 12px 14px;
    /* width: 279px;
    height: 42px; */
    outline: none;
}

.input-list::placeholder,
.comment-form::placeholder,
.input-list-email-tel::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    color: #0c0c0c;
}

.input-list:hover,
.input-list:focus,
.input-list-email-tel:hover,
.input-list-email-tel:focus {
    border: 1px solid #3350e9;
}

.comment-form {
    resize: none;
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 12px 136px 54px 14px;
    width: 279px;
    height: 84px;
    outline: none;
    overflow: hidden;
}

.send-button-form {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    color: #fbfbfb;
    border-radius: 16px;
    padding: 12px 50px;
    width: 134px;
    height: 42px;
    background-color: #3350e9;
    border: none;
    cursor: pointer;
    margin-top: 28px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.send-button-form:hover,
.send-button-form:hover {
    color: #fbfbfb;

    background: #1f3cd4;
}

/* tyt media!!!!!!!!!!!!!!!!!!!!! */

@media screen and (min-width: 768px) {
   
    /* .container-form-watch {
        gap: 40px;
        width: 768px;
    } */

    .us-contact{
        font-weight: 600;
        font-size: 48px;
        line-height: 92%;
    }
.contact-watch{
    padding-bottom: 0;
        margin-bottom: 80px;
}
    .text-form-label-input {
        border-radius: 50px;
        padding: 50px 122px;
        /* width: 704px;
        height: 556px; */
        margin-bottom: 40px;
    }

    .tex-contact {
        text-align: justify;
        margin-bottom: 32px;
        max-width: 460px;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
    }

    .input-list {
        padding: 16px 398px 16px 18px;
        max-width: 460px;
        width: 100%;
        height: 52px;
    }

    .input-list-email-tel {
        padding: 16px 315px 16px 16px;
        width: 460px;
        height: 52px;
    }

    .input-list::placeholder,
    .comment-form::placeholder,
    .input-list-email-tel::placeholder {
        font-size: 16px;
        line-height: 1.25;
    }

    .comment-form {
        padding: 16px 315px 54px 16px;
        width: 460px;
        height: 90px;
    }

    .send-button-form {
        padding: 17px 63px;
        width: 160px;
        height: 52px;
        margin-top: 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 129%;
    }
}

@media screen and (min-width: 1280px) {

    .us-contact {
        font-weight: 600;
        font-size: 48px;
        line-height: 92%;
    }
    .contact-watch{
        
            padding-bottom: 0;
       
        margin-bottom: 100px;
}
    .text-form-label-input {
        /* width: 580px; */
        /* height: 556px; */
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 60px;
        padding-right: 60px;
        margin-bottom: 0;
    }

    .comment-form::-webkit-scrollbar {
        width: 0;
    }

    .im-watch-list {
        display: flex;
        /* padding-left: 40px; */
        width: 530px;
    }

    .container-box {
        display: flex;
        max-width: 1150px;
        gap: 40px;
    }

    .watch-img-contact {
        max-width: 100%;
        width: 100%;
        max-width: 530px;
        height: auto;
        border-radius: 50px;
        object-fit: cover;
    }
}