main{
  display: none;
}

header{
  display: none;
}

p,
a {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding: 0;
    margin: 0;
}

/* adaprivniy container */

.container {
  max-width: 335px;
  padding: 40px 28px 28px 28px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
    padding: 40px 40px 28px 40px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1216px;
  }
}

.footer .container{
  margin: 100px auto 32px auto;
  border-radius: 30px;
  background-color: #0c0c0c;
}

.watchcharm{
  display: block;
}

.slogon{
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-top: 54px;
  max-width: 279px;
  margin-left: auto;
  margin-right: auto;
}

.footer .logo{
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.footer-social{
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 34px;
}

.footer-social .social-icon{
  fill: #FBFBFB;
  margin: auto;
  opacity: 0.7;
}

.social-link:hover > .social-icon{
  fill: #FBFBFB;
  opacity: 1;
}

.social-link{
  display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social .social-link{
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
  align-items: center;
  justify-content: center;
}

.footer-tell{
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  width: 152px;
  height: 44px;
  padding: 14px 20px;
}

.footer-box{
  display: flex;
  justify-content: space-between;
  margin-top: 92px;
  margin-bottom: 24px;
}

.navigation{
  max-width: 147px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.navigation .navigation-item{
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: #fbfbfb;
}

.text-pioneer{
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: #fbfbfb;
  max-width: 83px;
}

.last-link{
  display: flex;
  gap: 20px;
  margin-top: 8px;
}

.last-link .last-link-item{
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
}

.text-watch{
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
}

.footer-bot{
  border-top: 1px solid rgba(251, 251, 251, 0.1);
  padding-top: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-top{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer .logo{
    font-size: 20px;
}

  .footer-social .social-link{
    width: 36px;
    height: 36px;
  }

  .footer-box{
    margin-top: 0;
  }

  .slogon{
    max-width: 524px;
    font-size: 28px;
    line-height: 114%;
    margin-bottom: 100px;
    margin-top: 86px;
  }

  .text-pioneer{
    max-width: 162px;
    font-size: 14px;
    line-height: 129%;
  }

  .navigation{
    max-width: 400px;
  }

  .navigation .navigation-item{
    font-size: 14px;
    line-height: 129%;
  }

  .text-watch{
    font-size: 14px;
    line-height: 129%;
  }

  .last-link .last-link-item{
    font-size: 14px;
    line-height: 129%;
  }

  .last-link{
    margin: 0;
  }

  .footer-bot{
    display: flex;
    justify-content: space-between;
  }

  .footer-tell{
    font-size: 14px;
    line-height: 129%;
  }

  .call-me{
    margin-top: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .slogon{
    max-width: 524px;
    font-weight: 600;
    font-size: 28px;
    line-height: 114%;
    position: absolute;
    margin-left: 308px;
    margin-top: 0;
  }

  .footer-top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer .logo {
    margin-right: 848px;
    font-size: 20px;
  } 

  .footer-social .social-link {
    width: 36px;
    height: 36px;
  }

    .footer-tell{
    font-size: 14px;
    line-height: 129%;
  }

    .call-me{
    margin-top: 15px;
  }

  .last-link{
    text-align: right;
  }
    
  .text-pioneer{
    text-align: left;
  }

  .navigation .navigation-item{
    font-size: 14px;
    line-height: 129%;
  }
  
  .navigation {
    max-width: 505px;
    gap: 40px;
  }

      .text-pioneer{
    max-width: 162px;
    font-size: 14px;
    line-height: 129%;
  }

    .text-watch{
    font-size: 14px;
    line-height: 129%;
  }

    .last-link .last-link-item{
    font-size: 14px;
    line-height: 129%;
  }
 
  .last-link{
    margin: 0;
  }

  .footer-bot{
    display: flex;
    justify-content: space-between;
  }
}