
.container {
  max-width: 335px;
  padding: 20px 0 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 24.26px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -2%;
  color: rgba(12, 12, 12, 1);
}
.nav-list {
  /* display: flex; */
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  display: none; 
}
.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
  line-height: 18px;
  font-size: 14px;
  color:rgba(12, 12, 12, 1);
}

.nav-link::before,
.menu-nav-link::before {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 0.35s;
}

.nav-link:hover::before,
.menu-nav-link:hover::before,
.nav-link:focus::before,
.menu-nav-link:focus::before {
  background-color: rgba(51, 80, 233, 1);
}

.container-benefits{
  display: none;
  gap: 10px;
}

.icons-benefits{
  border: 1px solid rgba(12, 12, 12, 0.1);
  padding: 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits-item-icon{
  fill:  rgba(12, 12, 12, 0.8);
  
}


.benefits-item-icon:hover,
.benefits-item-icon:focus{
  fill:rgba(51, 80, 233, 0.8);
}

.menu-nav-link {
  display: block;
  position: relative;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
  line-height: 18px;
  font-size: 14px;
  color: rgba(251, 251, 251, 1);
  text-align: center;
  justify-content: center;
  font-family: Gilroy;
}

.mob-nav-list :not(:last-child) {
  margin-bottom: 40px;
}

.mob-nav-list{
  margin-top: auto;
  margin-bottom: auto;
}

.container::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(12, 12, 12, 0.1);
  padding: 0;
}

.menu-open {
  display: block;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 29px;
  z-index: 998;
  border: none;
  background: transparent;
}

.menu-open-svg{
  fill:rgba(12, 12, 12);
  stroke: rgba(12, 12, 12);
}

.menu-modal.is-open {
  width: 200px;
  height: 100%;
  background-image: url(../img/section-header/mobilbg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  z-index: 999;
  top: 0;
  display: flex;
  min-height: 640px ;
  top: 0; 
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-close {
  border: none;
  background: transparent;
  font-size: 40px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}


.menu-benefits-item-icon {
  fill: rgba(251, 251, 251, 0.8);
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  width: 36px;
  height: 36px;
  gap: 10px;
  padding: 8px 8px;
  }

.menu-benefits-item-icon:hover,
.menu-benefits-item-icon:focus{
  fill:rgba(251, 251, 251, 1);
}

.menu-container-benefits {
  display: flex;
  justify-content: center;
  display: block;
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  z-index: 1000;
}

.menu-icons{
  gap: 10px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 26px 32px;
  }
  .menu-modal.is-open {
    width:330px;
  }
  .menu-open{
    right: 40px;
    top: 20px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .nav-list {
  display: flex;
  }
  .benefits-item-icon {
    display:inherit ;
  }
  .menu-open {
    display: none;
  }
  .menu-modal.is-open {
    display: none;
  } 
  .container-benefits{
    display: flex;
  }
}







